{% comment %}
<!--
https://developers.facebook.com/docs/plugins/like-button?locale=fr_FR
https://developers.facebook.com/tools/debug/og/object/
-->
{% endcomment %}
<div class="facebook">
	<div class="fb-like" data-href="https://www.facebook.com/2x5dl" data-width="1000" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
</div>
